* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
.icons {
    color: white;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    /* test */
    height: 70px;
    background-color: black;
}
header .icons {
    margin-left: 10px;
}
.icons i {
    background-color: #4a4a4a;
    background-size: 10px;
    border: 3px solid #4a4a4a;
    border-radius: 3px;
}

/* MAIN */
main {
    height: calc(100vh - 140px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow: auto;

    /* test */
    background-color: black;
}
.user {
    width: 220px;
    height: 120px;
    border: 1px solid black;
    margin: 5px;
    background-image: url("../img/image.jpg");
    background-size: cover;

    /* test */
    background-color: white;
}
.user div {
    position: relative;
    top: 95px;
    left: 0;
    background-color: rgba(134, 134, 134, 0.7);
    width: 43%;
    color: white;
    font-size: 14px;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
    
    



    /* test */
    height: 70px;
    background-color: #222222;
}
.footer-icons {
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    
    
}
.footer-icons div {
    display: flex;
    justify-content: space-evenly;
    
}
.footer-icons i {
    margin-left: 12px;
}
.end-meeting {
    background-color: #4a4a4a;
    
}
.end-meeting span {
    position: relative;
    left: 0;
    top: 25px;
}